/.vscode
/areaDoTriangulo.c
/areaDoTriangulo.exe
/carteiraHabilitação.c
/carteiraHabilitação.exe
/divisao.c
/divisao.exe
/entradaDeDados.exe
/leituraDeDados.c
/leituraDeDados.exe
/retorno.c
/retorno.exe
/teste.c
/teste.exe
/teste1.c
/teste1.exe